<!-- 회원가입 페이지. -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SONG BOX 로그인</title>
        <link rel='stylesheet' href="./login.css" />
    </head>
    <body>
        <header id="home_text">
            <h1>SONG BOX</h1>
            <h2>회원가입</h2>
        </header>
        <img id='logo' src="./img/song_box_logo.png" width="400px">
        <form id="join-form" action="/auth/join" method="post">
            <div class="input-group">
              <input id="join-email" type="email" name="email" placeholder="E-MAIL"></div>
            <div class="input-group">
              <input id="join-nick" type="text" name="nick" placeholder="NICKNAME"></div>
            <div class="input-group">
              <input id="join-password" type="password" name="password" placeholder="PASSWORD">
            </div>
            <button id="join-btn" type="submit" class="btn">회원가입</button>
        </form>
        <script>
        window.onload = () => {
            if (new URL(location.href).searchParams.get('error')) {
            alert('이미 존재하는 이메일입니다.');
            }
        };
        </script>
    </body>
</html>