<!-- 페이지들의 레이아웃.  -->
<!-- 사용자의 로그인 유무에 따른 사용자 정보를 나타내는 페이지이다. -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      <img class='main_title' id='main_title_logo' src="./img/song_box_logo.png" width="50px">
      <h1 class="main_title" id="main_title_txt">SONG BOX</h1>
      <h2 class="main_title" id='sub_title_txt'>여러분의 추천곡 리스트를 공유해보세요!</h2>
      <div class="profile-wrap">
        <div class="profile">
        {% if user and user.id %}
          <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
          <input id="my-id" type="hidden" value="{{user.id}}">
            {% if title == "SONGBOX" %}
              <a id="playlist" href="/manage" class="btn">플레이리스트 관리하기</a>
            {% else %}
              <a id="playlist" href="/" class="btn">플레이리스트</a>
            {% endif %}
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
        {% else %}
          <a id="login" href="/login" class="btn">로그인</a>
          <a id="join" href="/join" class="btn">회원가입</a>
        {% endif %}
        </div>
      </div>
      {% block content %}
      {% endblock %}
      <footer>
        Copyright 2021.&nbsp;
        <a href="https://www.instagram.com/timointhebush" target="_blank">timointhebush.</a> all rights reserved
      </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>
