{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
      {% if user %}
      <div class="twits">
        {% for song in playlist %}
          <div class="twit">
            <input type="hidden" value="{{song.User.id}}" class="twit-user-id">
            <input type="hidden" value="{{song.id}}" class="twit-id">
            <div class="twit-author">{{song.User.nick}}님의 추천곡</div>
            {% if song.img %}
              <div class="twit-img"><img src="{{song.img}}" alt="섬네일"></div>
            {% endif %}
            <div class="song-artist">{{song.artist}}</div>
            <div class="song-title">{{song.title}}</div>
            <div class="song-content">{{song.content}}</div>
            <button onclick="linkYoutube(event)" type="button">
              <img src='./img/youtube_logo.png' height="40px">
              <input type="hidden" value="{{song.artist}}" id="hidden-artist">
              <input type="hidden" value="{{song.title}}" id="hidden-title">
            </button>
          </div>
        {% endfor %}
      </div>
      {% else %}
        <h2>로그인해주세요!</h2>
      {% endif %}
    </div>
{% endblock %}

{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    };

    function linkYoutube(e) {
      const song = e.target.parentNode;
      const artist = song.childNodes[3].value;
      const title = song.childNodes[5].value;
      const search_url = `https://www.youtube.com/results?search_query=${artist}+${title}`;
      window.location = search_url;
    };
    
  </script>
{% endblock %}
