{% extends 'layout.html' %}


{% block content %}
    <div class="timeline">
      {% if user %}
        <div>
          <form id="song-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <input type="artist" name="artist" placeholder="Artist"><br>
              <input type="title" name="title" placeholder="Title"><br>
              <textarea id="song" name="content" placeholder="노래에 대한 comment" maxlength="140"></textarea>
            </div>
            <div class="img-preview">
              <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
              <input id="img-url" type="hidden" name="url">
            </div>
            <div>
              <label id="img-label" for="img">앨범 커버 업로드</label>
              <input id="img" type="file" accept="image/*">
              <button id="song-btn" type="submit" class="btn">노래 등록하기</button>
            </div>
          </form>
        </div>
      {% endif %}
      <div class="songs">
        {% for song in playlist %}
          <div class="song">
            <input type="hidden" id='song-user-id' value="{{song.User.id}}" class="song-user-id">
            <input type="hidden" id='song-id' value="{{song.id}}" class="song-id">
            {% if song.img %}
              <div class="song-img"><img src="{{song.img}}" alt="섬네일"></div>
            {% endif %}
            <div class="song-artist">{{song.artist}}</div>
            <div class="song-title">{{song.title}}</div>
            <button class="btn" id="edit">수정</button>
            <button class="btn" id="remove">삭제</button>
            <div class="song-content">{{song.content}}</div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
    
    document.getElementById('edit').addEventListener('click', async () => {
      const artist = prompt('수정할 아티스트 이름을 입력하세요');
      const title = prompt('수정할 노래 제목을 입력하세요');
      const song_id = document.getElementById('song-id').value;
      if (!artist || !title) {
          return alert('수정할 이름과 글을 반드시 입력하셔야 합니다');
      }
      try {
          await axios.patch(`/manage`, {song_id, artist, title});
          window.location = '/manage'
      } catch(err) {
          console.error(err);
      }
    });
    document.getElementById('remove').addEventListener('click', async () => {
      try {
          await axios.delete(`/manage/${document.getElementById('song-id').value}`);
          window.location = '/manage'
      } catch(err) {
          console.log(err);
      }
    });
  </script>
{% endblock %}
